amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
bleach==6.2.0
bx_django_utils
bx_py_utils==108
celery==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorlog==6.9.0
cryptography==44.0.3
dj-database-url==3.0.0
Django==5.2.3
django-debug-toolbar
django-encrypted-model-fields
gunicorn==23.0.0
icdiff==2.0.7
idna==3.10
kombu==5.5.3
packaging==25.0
pprintpp==0.4.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
pycparser==2.22
python-dateutil==2.9.0.post0
python-decouple==3.8
python-stdnum==1.20
pytz==2025.2
redis==5.2.1
requests==2.32.3
setuptools==80.0.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
