{% extends 'base.html' %}
{% load static %}
{% load expense_filters %}

{% block content %}
<h1>Expenses</h1>

<button class="expenses-settings set_button" onclick="redirectToSettings()">
    <i class="fa-solid fa-gear"></i>
</button>

<div class="center_div" style="margin-top: 0 !important;">
<p>Total {{ profit }}$</p>
</div>

<div class="expenses-list">
    {% regroup transactions by time_update.date as transactions_by_date %}
    {% for date_group in transactions_by_date %}
        {% sum_amount date_group.list as summa %}
            
        <h3>
            {{ date_group.grouper|date:"d.m.Y" }}
            {% if summa > 0 %} 
                <span class="profit">+{{ summa }}$</span>
            {% else %}
                <span class="loss">{{ summa }}$</span>
            {% endif %}
        </h3>
        <ul>
            {% for expense in date_group.list %}
                <li>{{ expense.time_update|date:"H:i" }} - {{ expense.description }}:
                    {% if expense|is_spent %}-{% else %}+{% endif %}{{ expense.amount }}$</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

<div class="right_div">
    <a href="{% url 'new_transaction' %}">
        <button>Add Expense</button>
    </a>
</div>

<script>
    function redirectToSettings() {
        window.location.href = "{% url 'home' %}"; // TODO: settings
    }
</script>
{% endblock %}